.content {
    max-width: 50rem;
    margin: 3rem auto;
    padding: 1rem;
    background-color: rgba($color: #FFFFFF, $alpha: 0.70);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0.5rem 0.2rem rgba(75, 75, 75, 0.2), 0.5rem 0.5rem 0.5rem 0.2rem rgba(75, 75, 75, 0.2);
}

.click_button {
    display: flex;
    justify-content: center;
}